.bookSnippets {
	display: flex;
	overflow: overlay;
	flex-direction: column;
	row-gap: 0.8rem;

	.snippet {
		width: 72px;
		height: 108px;
		transition: all 0.3s;

		&.fadedBook {
			filter: grayscale(1);
		}
		&.restoredColor {
			filter: grayscale(0);
		}
	}

	.top,
	.middle,
	.bot {
		position: relative;
		display: flex;
		overflow: overlay;
		justify-content: center;
		width: 500px;
		height: 109px;
		margin: 0 auto;
		column-gap: 0.8rem;
	}
}
