.categories {
	display: flex;
	overflow: overlay;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1.5rem;
	row-gap: 0.5rem;

	.top,
	.bot {
		display: flex;
		overflow: overlay;
		width: 782px;
		column-gap: 0.5rem;
	}
}

.categoryTag {
	display: flex;
	align-items: center;
	flex-basis: max-content;
	min-width: max-content;
	padding: 0.7rem 0.5rem;
	cursor: pointer;
	transition: all 0.3s;
	border: 1px solid rgb(0 0 0 / 10%);
	border-radius: 8px;
	background-color: var(--white);
	column-gap: 0.5rem;

	.tagTitle {
		font-size: 0.8rem;
	}

	&.active {
		border: 1px solid var(--blue);
		background: var(--background-bright-blue);
	}
}
