.footer {
	display: flex;
	justify-content: center;
}

.footerInner {
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin: 0 1rem 0.5rem;
	padding: 2rem 1.5rem;
}

.footerLogo {
	margin-bottom: 1.2rem;
}

.footerReminder {
	margin: 0 0 1.2rem;
	text-align: left;
}

.footerSocialsWrapper {
	display: block;
	width: 101px;
}

.footerLinks {
	display: flex;
	column-gap: 1rem;
	margin-top: 0.6rem;
}

@media (max-width: 1230px) {
	.footerInner {
		padding: 1.5rem 1.3rem;
	}
}

@media (max-width: 976px) {
	.footerInner {
		padding: 1.5rem 1rem;
	}
}

@media (max-width: 768px) {
	.footerInner {
		margin: 0 0.5rem 0.5rem;
	}
}

@media (max-width: 576px) {
}

@media (max-width: 476px) {
	.footer {
		margin-bottom: 6rem;
	}
}

@media (max-width: 375px) {
}
