.title,
.h1,
.h2 {
	font-weight: var(--fw-bold);
	line-height: 1.3;
}

.title {
	margin: 0 0 0.5rem;
	padding: 0;

	color: var(--text-primary-color);
}

.h1 {
	font-size: 28px;
}

.h2 {
	font-size: 20px;
}
