.testimonialCard {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	width: calc(33.3333% - 0.8rem);
	padding: 0.8rem;
	text-align: left;
	border: 1px solid rgb(0 0 0 / 10%);
	border-radius: 12px;
	background-color: var(--white);

	.testimonialComment {
		margin-bottom: 1.2rem;
		font-size: 0.9rem;
	}

	.testimonialRating {
		margin-bottom: 0.6rem;

		svg {
			margin-right: 0.2rem;
		}
	}

	.testimonialUser {
		display: flex;
		align-items: center;
		margin-top: auto;

		.testimonialUserName {
			margin-right: 0.4rem;
			margin-left: 0.5rem;
			color: var(--text-grey-color);
		}
	}
}

@media (max-width: 768px) {
	.testimonialCard {
		width: calc(50% - 0.6rem);
	}
}

@media (max-width: 576px) {
	.testimonialCard {
		width: 100%;
	}
}
