.header {
	height: 80px;
}

.headerInner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1231px;
	height: 100%;
	margin: 0 auto;
	padding: 0 1.1rem;
}

.logo {
	display: flex;
}

.nav {
	display: flex;
}

.navBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	margin-left: 0.5rem;
	cursor: pointer;
	transition: all 0.3s;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: var(--background-white-color--500);

	&:hover {
		background-color: var(--background-white-color--800);
	}
}

// @media (max-width: 975px) {
//   .headerInner {
//     padding: 0 1rem;
//   }
// }

@media (max-width: 768px) {
	.headerInner {
		padding: 0 0.5rem;
	}
}
