@import "./common.scss";

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

:root {
	--text-primary-color: #000;
	--text-grey-color: rgb(0 0 0 / 40%);
	--white: #FFF;
	--orange: #FE805C;
	--darker-orange: #F83;
	--blue: #06F;
	--green: #0B7;
	--background-bright-color: #E5E5E5;
	--background-bright-green: #E6F2E7;
	--background-bright-blue: #E6E9F5;
	--background-bright-sun: #FFEDE1;
	--background-purple: rgb(122 0 218 / 10%);
	--background-brown: rgb(255 51 51 / 10%);
	--background-white-color--500: rgb(0 0 0 / 5%);
	--background-white-color--800: rgb(0 0 0 / 8%);
	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}
