.section {
  margin-bottom: 0.5rem;
  padding: 1.5rem 1rem 1rem;
  border-radius: 12px;
}

.container {
  width: 100%;
}

.ctaButton {
  position: relative;
  display: flex;
  max-width: 450px;
  margin: 1.5rem auto 0;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  background-color: var(--blue);

  & p {
    width: 100%;
    color: var(--white);
    font-weight: var(--fw-semibold);
  }

  &.fixed {
    position: fixed;
    z-index: 5;
    bottom: 1.5rem;
    left: 50%;
    width: 300px;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
}

.firstSection {
  display: flex;
  border: 1px solid rgb(0 0 0 / 10%);
  background-color: var(--white);
  column-gap: 1rem;
  .fsLeft {
    align-items: space-between;

    flex: 1;
    justify-content: space-between;

    max-width: 485px;
    text-align: center;

    .fsDescription {
      margin-bottom: 1.9rem;
    }

    svg {
      width: 100%;
    }
  }

  .fsRight {
    align-self: center;
    flex: 1;
    max-width: 682px;
    text-align: center;

    .fsRightPicture {
      max-width: 450px;
    }
  }
}

.secondSection {
  border: 1px solid rgb(0 187 119 / 40%);
  background-color: var(--background-bright-green);

  .title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .benefits {
    display: flex;
    column-gap: 1rem;

    .benefit {
      width: 100%;
      max-width: 336px;
      margin: 0 auto 2rem;
      text-align: center;

      svg {
        width: 100%;
      }
    }
  }
}

.thirdSection {
  text-align: center;
  border: 1px solid rgb(255 136 51 / 20%);
  background: var(--background-bright-sun);

  .exampleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    column-gap: 1rem;

    .fadedText {
      color: var(--text-grey-color);
    }

    .bookBlock,
    .phoneBlock {
      display: flex;
      align-items: center;
      flex-direction: column;

      svg {
        margin-bottom: 1.5rem;
      }
    }

    .centerBlock {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .bookBlock {
      svg {
        width: 100%;
        max-width: 320px;
      }
    }

    .phoneBlock {
      svg {
        width: 100%;
        max-width: 320px;
      }
    }

    .devider {
      width: 80px;
      transform: rotate(-90deg);
    }

    .arrow {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        width: 13px;
        height: 2px;
        content: " ";
        background-color: #f83;
      }

      &::before {
        top: 52%;
        right: 0;
        transform: rotate(-45deg);
      }

      &::after {
        top: 41%;
        right: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.fourthSection {
  text-align: center;
  border: 1px solid var(--background-purple);
  background: var(--background-purple);

  .fourthSectionDescription {
    margin-bottom: 1.5rem;
  }
}

.fifthSection {
  display: flex;
  text-align: center;
  border: 1px solid var(--background-brown);
  background: var(--background-brown);

  .fifthSectionLeft {
    align-self: center;
    flex: 1;
    justify-content: space-between;
    max-width: 485px;
    text-align: center;

    svg {
      width: 100%;
    }

    .fifthSectionDescription {
      margin-bottom: 1rem;
    }

    .togglerContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.8rem;

      .fadedText {
        transition: all 0.3s;
        color: var(--text-grey-color);
      }

      .togglerButtons {
        box-sizing: border-box;
        padding: 0.2rem;
        border: 1px solid rgb(0 0 0 / 10%);
        border-radius: 40px;
        background: var(--white);

        .modeBtn {
          padding: 0.6rem 0.8rem;
          cursor: pointer;
          transition: all 0.3s;
          border: none;
          border-radius: 50%;
          background-color: transparent;

          svg path {
            fill: var(--text-primary-color);
          }

          &.active {
            background-color: var(--blue);

            svg path {
              transition: all 0.3s;
              fill: white;
            }
          }
        }
      }
    }
  }

  .fifthSectionRight {
    align-self: center;
    flex: 1;
    max-width: 682px;
    text-align: center;

    .fifthSectionRightPicture {
      max-width: 450px;
    }
  }
}

.sixthSection {
  text-align: center;
  border: 1px solid rgb(0 102 255 / 20%);
  background: var(--background-bright-blue);

  .sixthSectionDescription {
    margin-bottom: 1.5rem;

    .bluedText {
      color: var(--blue);
    }
  }

  .sources {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

    .sourceCard {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: calc(50% - 0.5rem);
      padding: 1.3rem;
      text-align: center;
      border: 1px solid rgb(0 0 0 / 10%);
      border-radius: 12px;
      background-color: var(--white);

      .ratingNumber {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;

        h2 {
          margin-right: 0.5rem;
          margin-bottom: 0;
          color: var(--blue);
          font-size: 1.8rem;

          &.green {
            color: var(--green);
          }
        }
      }

      .ratingStars {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0.4rem;
      }

      .totalVoted {
        color: var(--text-grey-color);
        font-size: 0.8rem;
      }
    }
  }

  .testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 1.2rem;
  }
}

@media (max-width: 1230px) {
}

@media (max-width: 976px) {
}

@media (max-width: 768px) {
  .firstSection {
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
  }

  .fsRight {
    transform: translateY(1.2rem);
  }

  .secondSection {
    .benefits {
      flex-wrap: wrap;
    }
  }

  .thirdSection {
    .exampleContainer {
      flex-direction: column;
      row-gap: 0.5rem;
      margin-top: 0.5rem;

      .devider {
        width: 80px;
        transform: rotate(0);
      }

      .arrow {
        &::after {
          top: 88%;
          right: 47%;
        }

        &::before {
          top: 88%;
          right: 36%;
        }
      }

      .phoneBlock svg {
        margin-bottom: 0;
      }

      .bookBlock svg {
        margin-bottom: 0;
      }
    }
  }

  .sixthSection {
    .testimonials {
      .testimonialCard {
        width: calc(50% - 0.6rem);
      }
    }
  }
}

@media (max-width: 576px) {
  .fifthSection {
    flex-direction: column;
    row-gap: 0.8rem;

    .fifthSectionRight {
      transform: translateY(20px);
    }
  }

  .sixthSection {
    .testimonials {
      .testimonialCard {
        width: 100%;
      }
    }
  }
}

@media (max-width: 476px) {
  .ctaButton {
    &.fixed {
      width: calc(100vw - 1rem);
    }
  }
}

@media (max-width: 375px) {
}

// .whiteCardWrapper {
//   display: flex;
//   flex-direction: column;

//   padding: 27px 37px;

//   border-radius: 35px;

//   background: #fff;
//   box-shadow: 0 2.84946px 28.4946px rgba(0, 0, 0, 0.25);
// }

// .cardTop {
//   display: flex;
//   align-items: center;
// }

// .cardPersonInfo {
//   margin-left: 20px;

//   font-size: 20px;
//   font-weight: 600;
// }

// .cardPersonInfo span {
//   font-weight: 400;
// }

// .cardBottom {
//   width: 100%;
//   max-width: 310px;
//   margin-left: auto;

//   text-align: center;

//   font-size: 18px;
//   font-weight: 300;
//   font-style: italic;
//   line-height: 23px;
// }

// .fsRightTitle {
//   margin-bottom: 30px;

//   text-align: center;

//   font-size: 34px;
//   font-weight: 300;
// }

// .currencyWrapperCard {
//   display: flex;
//   flex-wrap: wrap;

//   padding: 41px 59px;

//   border-radius: 50px;
//   background-color: var(--primary);
//   box-shadow: 0 4px 28.49px rgba(0, 0, 0, 0.25);
// }

// .currencyWrapperTitle {
//   width: calc(50% - 19px);
//   max-width: 292px;
//   max-height: 90px;
//   margin-right: 19px;

//   color: var(--text-white-color);

//   font-size: 34px;
//   font-weight: 800;
//   line-height: 110%;
// }

// .currencyCard {
//   display: flex;
//   flex-direction: column;

//   width: 50%;
//   max-width: 255px;
//   margin-top: 42px;
//   margin-left: auto;
//   padding: 17px 26px;

//   border-radius: 20px;
//   background: #fff;
// }

// .offseted {
//   margin-top: -25px;
//   margin-bottom: 35px;
//   margin-left: 0;
// }

// .currencyCardTitle,
// .currencyCardPrice {
//   color: #12121f;
// }

// .currencyCardTitle {
//   margin-bottom: 19px;

//   font-size: 13px;
//   font-weight: 600;
//   line-height: 16px;
// }

// .currencyCardDescription {
//   color: #afafbd;

//   font-size: 12px;
//   font-weight: 400;
//   line-height: 14px;
// }

// .currencyCardPrice {
//   margin-bottom: 10px;

//   font-size: 23px;
//   font-weight: 600;
//   line-height: 28px;
// }

// .currencyCardVector {
//   margin-left: 12px;

//   font-size: 13px;
//   font-weight: 600;
//   line-height: 16px;
// }

// .up {
//   color: var(--orange);
// }

// .down {
//   color: var(--primary-light);
// }

// .secondSection {
//   margin-top: 113px;
// }

// .secondSectionTitle {
//   margin-bottom: 55px;

//   text-align: center;

//   font-size: 33px;
//   font-weight: 700;
//   line-height: 47px;
// }

// .testimonialsWrapper {
//   display: flex;
//   justify-content: center;

//   max-width: 805px;
//   margin: 0 auto;
// }

// .testimonialCard {
//   display: flex;
//   align-items: center;
//   flex-direction: column;

//   width: 100%;
//   max-width: 250px;
//   padding: 26px 26px 37px;

//   text-align: center;

//   border-radius: 22px;
//   background: #fff;
//   filter: drop-shadow(0 69.5875px 139.175px rgba(0, 0, 0, 0.08))
//     drop-shadow(0 14.65px 43.95px rgba(0, 0, 0, 0.06));
// }

// .testimonialCard:not(:first-child) {
//   margin-left: 28px;
// }

// .testimonialName,
// .testimonialMessage {
//   color: #000;
// }

// .testimonialName {
//   display: inline-block;

//   margin-top: 10px;
//   margin-bottom: 26px;

//   font-size: 17px;
//   font-weight: 700;
//   line-height: 22px;
// }

// .testimonialMessage {
//   display: flex;
//   align-items: center;
//   flex: 1;

//   font-size: 18px;
//   font-weight: 300;
//   line-height: 22px;
// }

// .thirdSectionTitle {
//   margin-top: 72px;
//   margin-bottom: 72px;

//   text-align: center;

//   font-size: 33px;
//   font-weight: 700;
//   line-height: 47px;
// }

// .reviewsWrapper {
//   display: flex;
//   flex-direction: column;

//   width: 100%;
//   max-width: 660px;
//   margin: 0 auto;
// }

// .reviewCard {
//   display: flex;

//   margin-bottom: 25px;
//   padding: 15px 36px 15px 15px;

//   border-radius: 75px;
//   background: #3664d8;
//   background-color: var(--primary);
//   filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.25));
// }

// .reviewCardBody {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   width: calc(100% - 69px);
//   margin-left: 15px;
// }

// .reviewCardTitle {
//   padding-right: 10px;

//   letter-spacing: 0.25px;

//   color: #fff;

//   font-size: 14px;
//   font-weight: 600;
//   line-height: 20px;
// }

// .reviewCardTime {
//   letter-spacing: 0.25px;

//   opacity: 0.5;
//   color: #fff;

//   font-size: 14px;
//   font-weight: 400;
//   line-height: 20px;
// }

// .reviewCardBodyTop {
//   margin-bottom: 5px;
// }

// .reviewCardBodyTop,
// .reviewCardBodyBottom {
//   display: flex;
//   justify-content: space-between;
// }

// .reviewCardName {
//   letter-spacing: 0.25px;

//   opacity: 0.5;
//   color: #fff;

//   font-size: 12px;
//   line-height: 16px;
// }

// .rating svg {
//   margin-left: 3px;
// }

// @media (max-width: 1230px) {
//   .fsRight {
//     margin-left: 35px;
//   }

//   .currencyWrapperCard {
//     flex-direction: column;
//   }

//   .currencyWrapperTitle {
//     width: 100%;
//   }

//   .currencyCard {
//     width: 100%;
//     max-width: 100%;
//     margin-top: 20px;
//     margin-left: 0;
//   }

//   .offseted {
//     margin-top: 20px;
//     margin-bottom: 0;
//   }
// }

// @media (max-width: 976px) {
//   .title {
//     margin-top: 0;
//     margin-bottom: 30px;

//     transform: translateX(0);
//   }

//   .firstSection {
//     flex-direction: column-reverse;
//   }

//   .fsLeft {
//     align-self: center;
//   }

//   .fsRight {
//     margin: 0 auto 30px;
//   }

//   .cardBottom {
//     margin: 15px auto 0;
//   }

//   .testimonialCard {
//     padding: 26px 15px 35px;
//   }
// }

// @media (max-width: 576px) {
//   .title {
//     font-size: 48px;
//   }

//   .currencyWrapperCard {
//     padding: 30px;
//   }

//   .secondSection {
//     margin-top: 80px;
//   }

//   .testimonialsWrapper {
//     align-items: center;
//     flex-direction: column;
//   }

//   .testimonialCard:not(:first-child) {
//     margin-top: 20px;
//     margin-left: 0;
//   }

//   .reviewCard {
//     flex-direction: column;
//     padding-right: 15px;
//     border-radius: 15px;
//   }

//   .reviewCardBody {
//     width: 100%;
//     margin-top: 15px;
//     margin-left: 0;
//   }
// }

// @media (max-width: 476px) {
//   .title {
//     font-size: 38px;
//   }

//   .currencyWrapperCard {
//     padding: 30px;
//   }

//   .cardTop {
//     flex-direction: column;

//     text-align: center;
//   }

//   .cardPersonInfo {
//     margin-top: 15px;
//     margin-left: 0;
//   }

//   .currencyCard {
//     padding: 17px 15px;
//   }

//   .fsRightTitle {
//     font-size: 28px;
//   }
// }

// @media (max-width: 375px) {
//   .currencyWrapperTitle {
//     font-size: 32px;
//   }
// }
